<aside class="sidebar">
	<div class="sidebar-header">
		{{> "components/logo"}}
		{{> "navigation/secondary"}}
	</div>

	{{!-- Navigation. --}}
	{{#if @site.navigation}}
	<nav class="navigation navigation-has-current sidebar-navigation" id="navigation">
		{{navigation has_icon=true}}
	</nav>
	{{/if}}

	{{!-- Tags. --}}
	{{#if @custom.tags_list_sidebar}}
		{{!-- All available tags. --}}
		{{#match @custom.tags_list_sidebar "-1"}}
			{{#get "tags" limit="all" filter="visibility:public" include="count.posts" order="count.posts DESC"}}
				{{> "navigation/tags"}}
			{{/get}}
		{{!-- Number of popular tags. --}}
		{{else match @custom.tags_list_sidebar ">" 0}}
			{{#get "tags" limit=@custom.tags_list_sidebar filter="visibility:public" include="count.posts" order="count.posts DESC"}}
				{{> "navigation/tags"}}
			{{/get}}
		{{!-- Select specific tags. --}}
		{{else}}
			{{#get "tags" limit="all" filter="slug:[{{@custom.tags_list_sidebar}}]"}}
				{{> "navigation/tags"}}
			{{/get}}
		{{/match}}
	{{/if}}

	{{!-- Social links. --}}
	<nav class="navigation sidebar-navigation{{#unless @site.twitter}}{{#unless @site.facebook}} navigation-hide{{/unless}}{{/unless}}">
		<div class="sidebar-navigation-tag">{{t "Socials"}}</div>
		{{> "components/social-links"}}
	</nav>

	{{!-- Button member. --}}
	{{#if @site.portal_button}}
	<div class="sidebar-footer">
		{{> "components/button-member" styled=true}}
	</div>
	{{/if}}
</aside>
