<!DOCTYPE html>
<html lang="{{@site.locale}}" data-color-scheme="{{#match @custom.color_scheme " Dark"}}dark{{else match
	@custom.color_scheme "Light" }}light{{else}}system{{/match}}">

<head>
	{{!-- Basic meta - advanced meta is output with {{ghost_head}} below --}}
	<title>{{meta_title page=(t "Page %")}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{!-- Script for color scheme --}}
	{{#if @custom.display_color_scheme_toggle}}
	{{> "color-scheme-head-script"}}
	{{/if}}

	{{!-- Preload scripts --}}
	<link rel="preload" as="style" href="{{asset " built/index.css"}}">
	<link rel="preload" as="script" href="{{asset " assets/vendors/pvs.min.js"}}">
	<link rel="preload" as="script" href="{{asset " built/index.js"}}">

	{{!-- Conditionally Load Tailwind CDN for Post Pages --}}
	{{#is "home"}}
	<script src="https://cdn.tailwindcss.com"></script>
	{{/is}}

	{{!-- Preload main styles and scripts for better performance --}}
	<style>
		@font-face {
			font-family: 'Geist';
			font-display: swap;
			src: url({{asset "vendors/Geist-Variable.woff2"}}) format(woff2);
		}

		:root {
				{
					{
					#if @custom.dark_mode_accent_color
				}
			}

			--color-dark-accent: {
					{
					@custom.dark_mode_accent_color
				}
			}

			;

				{
					{
					/if
				}
			}

				{
					{
					#if @custom.foreground_accent_color
				}
			}

			--color-accent-foreground: {
					{
					@custom.foreground_accent_color
				}
			}

			;

				{
					{
					/if
				}
			}

				{
					{
					#if @custom.dark_mode_foreground_accent_color
				}
			}

			--color-dark-accent-foreground: {
					{
					@custom.dark_mode_foreground_accent_color
				}
			}

			;

				{
					{
					/if
				}
			}

			--feature-image--aspect-ratio: {
					{
					@custom.feature_image_aspect_ratio
				}
			}

			;
		}
	</style>

	{{!-- Theme styles. --}}
	<link rel="stylesheet" type="text/css" href="{{asset " built/index.css"}}">

	{{!-- Ivent. --}}
	<script src="{{asset " assets/vendors/ivent.min.js"}}"></script>

	{{!-- PVS. --}}
	<link rel="stylesheet" type="text/css" href="{{asset " assets/vendors/pvs.min.css"}}">
	<script src="{{asset " assets/vendors/pvs.min.js"}}"></script>

	{{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings, it should always
	be the last tag before the closing head tag --}}
	{{ghost_head}}
</head>

{{{body}}}

{{!-- {ghost_foot} moved to file layout.hbs --}}

</html>