{{!--
Parameters:
* style_small (true, false) - enable small hero.
* container_small (true, false) - the forced size of the container, if not, works on the presence of the feature_image
(presence - container-wide, no - container).
* container_wide (true, false) - the forced size of the container-wide, if not, works on the presence of the
feature_image (presence - container-wide, no - container).
* match_title_image (match) - for pages with data.page or data.post use "@page.show_title_and_feature_image", if not use
"true" or "false" for show title and feature image.
* feature_image (src image)
* total_posts (count) - posts.length
* show_button_member (true, false)
* show_social_links (true, false)
* show_author_links (true, false)
--}}

<style>
	#homeHero {
		max-width: 1000px;
		padding: 30px;
		margin: 0 auto;
	}

	.centered {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.centered h4 {
		max-width: 550px;
	}

	.home-hero-cta-button {
		background: #ACFF15;
		color: #002060;
		padding: 12px 20px;
		border-radius: 8px;
		text-decoration: none;
		font-size: 22px;
		font-weight: bold;
		transition: background 0.3s ease;
	}

	.center-hero-cta {
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	.bright-heading {
		color: var(--ghost-accent-color);
	}

	.shining-text {
		font-size: 36px;
		text-align: center;
		background: linear-gradient(90deg, #ACFF15, #fff, #ACFF15);
		background-size: 200% 100%;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		animation: shine 2s linear infinite;
	}

	.fade-slide-in-left-1 {
		opacity: 0;
		/* Start fully transparent */
		transform: translateX(-100%);
		/* Start off-screen to the left */
		animation: fadeSlideInLeft 1s forwards;
		/* Apply the animation */
	}

	.fade-slide-in-left-2 {
		opacity: 0;
		/* Start fully transparent */
		transform: translateX(-100%);
		/* Start off-screen to the left */
		animation: fadeSlideInLeft 3s forwards;
		/* Apply the animation */
	}

	.fade-slide-in-left-3 {
		opacity: 0;
		/* Start fully transparent */
		transform: translateX(-100%);
		/* Start off-screen to the left */
		animation: fadeSlideInLeft 2s forwards;
		/* Apply the animation */
	}

	.bounce {
		animation: bounce 1s ease-in-out;
	}

	@keyframes fadeSlideInLeft {
		0% {
			opacity: 0;
			transform: translateX(-100%);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
			/* End at normal position */
		}
	}

	@keyframes bounce {
		0% {
			transform: translateY(0);
		}

		30% {
			transform: translateY(-15px);
		}

		60% {
			transform: translateY(5px);
		}

		100% {
			transform: translateY(0);
		}
	}

	@keyframes shine {
		0% {
			background-position: -200% 0;
		}

		100% {
			background-position: 200% 0;
		}
	}
</style>

<section id="homeHero"
	class="section section-hero{{#if style_small}} section-hero-small{{/if}}{{#if container_small}} container{{else if container_wide}} container-wide{{else}}{{#if feature_image}} container-wide{{else}} container{{/if}}{{/if}}">
	<div class="section-hero-content">
		{{#match match_title_image}}
		{{#if title}}
		<h1 class="fade-slide-in-left-1">{{title}}</h1>
		{{/if}}

		{{#if title_else}}
		{{#unless title}}
		<h1>{{title_else}}</h1>
		{{/unless}}
		{{/if}}
		{{/match}}

		{{#if header_text_1}}
		<h4 class="bright-heading fade-slide-in-left-2">{{header_text_1}}</h4>
		{{/if}}

		{{#if header_text_2}}
		<p class="fade-slide-in-left-3">{{header_text_2}}</p>
		{{/if}}

		{{#if total_posts}}
		{{#unless header_text_1}}
		{{#unless header_text_2}}
		<p>{{plural total_posts empty=(t "0 posts") singular=(t "% post") plural=(t "% posts")}}</p>
		{{/unless}}
		{{/unless}}
		{{/if}}

		{{#if show_button_member}}
		{{#if @site.portal_button}}
		{{> "components/button-member"}}
		{{/if}}
		{{/if}}

		{{#if show_social_links}}
		<nav
			class="navigation{{#unless @site.twitter}}{{#unless @site.facebook}} navigation-hide{{/unless}}{{/unless}}">
			{{> "components/social-links"}}
		</nav>
		{{/if}}

		{{#if show_author_links}}
		<nav class="navigation">
			<ul class="social-links social-links-author">
				{{#if website}}
				<li>
					<a class="social-link" href="{{website}}" target="_blank" rel="noopener noreferrer">
						{{> "icons/glob"}}
					</a>
				</li>
				{{/if}}

				{{#if twitter}}
				<li>
					<a class="social-link" href="{{twitter_url}}" target="_blank" rel="noopener noreferrer">
						{{> "icons/twitter"}}
					</a>
				</li>
				{{/if}}
				{{#if facebook}}
				<li>
					<a class="social-link" href="{{facebook_url}}" target="_blank" rel="noopener noreferrer">
						{{> "icons/facebook"}}
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{/if}}
	</div>

	{{#match match_title_image}}
	{{#if feature_image}}
	<figure>
		{{#if style_small}}
		{{> "components/image" size="100" sizes="100px" class="section-hero-image" fast=true src=feature_image
		alt=feature_image_alt altElse=title}}
		{{else}}
		{{> "components/image" size="300" sizes="(max-width: 1300px) 200px, 300px" class="section-hero-image" fast=true
		src=feature_image alt=feature_image_alt altElse=title}}
		{{/if}}

		{{#if feature_image_caption}}<figcaption>{{feature_image_caption}}</figcaption>{{/if}}
	</figure>
	{{/if}}
	{{/match}}

	{{#if header_text_3}}
	<div class="centered">
		<h4 class="shining-text">{{header_text_3}}</h4>
	</div>
	{{/if}}

	<div class="center-hero-cta">
		<a href="https://www.tickettailor.com/events/professionalmasterclassseries"
			class="button button-member home-hero-cta-button">Register Now!</a>
	</div>

</section>